.tv-list {
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  padding: 0;
  width: fit-content;
}

.tv-list a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 3.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.tv-list a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.tv-list a:active {
  background-color: #525252;
  color: #fafafa;
}

.tv-list .id {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: center;
  margin-right: .8em;
  border-radius: 4px 0 0 0;
}

.tv-list .red {
  background-color: #9c1d06;
}

.tv-list .green {
  background-color: #069c0d;
}

.tv-list .name {
  display: inline-block;
}

.tv-list .ip {
  display: block;
  padding-left: 0.8em;
}