<div class="container" *ngIf="tv">
  <div [hidden]="submitted">
      <app-tv-form [tv]="TvViewToTv()" (save)="onSaved($event)" (goback)="submitted=true"></app-tv-form>
  </div>
  <div [hidden]="!submitted">
      <h2>Tv:</h2>
      <div class="row">
          <div class="col-xs-3">Name</div>
          <div class="col-xs-9">{{ tv.name }}</div>
      </div>
      <div class="row">
          <div class="col-xs-3">IP Address</div>
          <div class="col-xs-9">{{ tv.ip }}</div>
      </div>
      <div class="row">
          <div class="col-xs-3">Config</div>
          <div class="col-xs-9">{{ tv.config }}</div>
      </div>
      <div class="row">
          <div class="col-xs-3">Supervisor</div>
          <div class="col-xs-9">
            <a routerLink="/user/{{tv.supervisor.id}}">
                {{ tv.supervisor.name }} {{ tv.supervisor.surname }}
            </a>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-3">Location</div>
          <div class="col-xs-9">
            <a routerLink="/location/{{tv.location.id}}">
                {{ tv.location.address }}
            </a>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-3">Notified</div>
          <div class="col-xs-9">{{ tv.notified }}</div>
      </div>
      <div class="row">
          <div class="col-xs-3">Last Seen</div>
          <div class="col-xs-9">{{ tv.lastSeen }}</div>
      </div>
      <br>
      <button type="button" class="btn btn-primary" (click)="goBack()">Go back</button>
      <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
      <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</div>
<div *ngIf="!tv" class="error">
  TV Not Found in database
</div>
